.htaccess
.htaccess-new
.htaccess.bk
wp-config.php
wp-admin/*
wp-includes/*
wp-content/uploads/*
wp-content/cache/*
wp-content/backup/
wp-content/themes/albilad-child
wp-content/plugins/*
wp-content/smush-webp/*
